nav ul li.divider {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    margin: 0 0.5rem;
    height: 55%;
    list-style: none;
}
.consolas-font {
    font-family: monospace;
    font-size: x-large;
}
.post-image {
    display: block;
    margin: auto;
}

.main-page-image {
    display: block;
    margin: auto;
    width: 40%;
}

.title-name {
    font-size: 150%;
}

.post-image, .badges-container {
    margin-bottom: 1rem;
}
