nav ul li.divider {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    margin: 0 0.5rem;
    height: 55%;
    list-style: none;
}

.post-image {
    display: block;
    margin: auto;
}

.title-name {
    font-size: 150%;
    font-weight: bold;
}

.post-image, .badges-container {
    margin-bottom: 1rem;
}

.code-box {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.hero {
    text-align: center;
    padding: 4rem 0;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Adds space between the buttons */
}