{% extends "base.html" %}

{% block title %}
    <title>{{ post.title }} | Sergey Grishuk</title>
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{ post.summary }}">
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ post.title }}</h1>
            <p>
                <em>Published on: {{ post.publish_date.strftime('%B %d, %Y') }}</em>
            </p>
            <div>
                {% for tag in post.tags %}
                    <small><code>{{ tag.name }}</code></small>
                {% endfor %}
            </div>
        </header>

        <hr>

        <div class="post-body">
            {{ html_content | safe }}
        </div>

    </article>
{% endblock %}
